{% extends 'main/layout.html' %}

{% block main %}
<table class="table">
    <tr>
        <th>{{form.isbon.label}}</th>
        <td>{{ form.cleaned_data.isbn}}</td>
    </tr>
    <tr>
        <th>署名</th>
        <td>{{form.cleaned_data.title}}</td>
    </tr>
    <tr>
        <th>価格</th>
        <td>{{form.cleaned_data.price}}</td>
    </tr>
    <tr>
        <th>出版社</th>
        <td>{{form.cleaned_data.publisher}}</td>
    </tr>
    <tr>
        <th>刊行日</th>
        <td>{{form.cleaned_data.published}}</td>
    </tr>

</table>
{% endblock main %}
